# Opcjonalnie: nadpisz auto-detekcję LAN IP dla Expo w Dockerze
# HOST_IP=192.168.1.50

EXPO_PUBLIC_SUPABASE_URL=https://xmytekplewzqvpbcnxab.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhteXRla3BsZXd6cXZwYmNueGFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNDg0MTIsImV4cCI6MjA5MzgyNDQxMn0.HR6pbzb6TMiMPlvd6UaiP9O6h1KZiZUTRLlruEusX1E
